@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');


:root{

--cyan:#00f7ff;
--purple:#9d00ff;
--dark:#050510;

}


*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:
radial-gradient(circle at top,#181030,#050510);

color:white;

font-family:'Orbitron',sans-serif;

overflow-x:hidden;

}





.grid{

position:fixed;

inset:0;

background-image:

linear-gradient(#ffffff08 1px,transparent 1px),
linear-gradient(90deg,#ffffff08 1px,transparent 1px);

background-size:50px 50px;

transform:
perspective(500px)
rotateX(60deg)
translateY(200px);

animation:gridmove 10s linear infinite;

z-index:-1;

}



@keyframes gridmove{

from{
background-position:0 0;
}

to{
background-position:0 500px;
}

}






.cursor{

width:20px;
height:20px;

border:2px solid var(--cyan);

position:fixed;

border-radius:50%;

pointer-events:none;

mix-blend-mode:screen;

}




header{

position:fixed;

width:100%;

padding:30px 8%;

z-index:5;

}



nav{

display:flex;

justify-content:space-between;

}



.logo{

color:var(--cyan);

font-weight:900;

}


.links a{

color:white;

text-decoration:none;

margin-left:30px;

font-size:14px;

}



.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}




.boot{

position:absolute;

top:25%;

font-size:12px;

opacity:.6;

}


.green{

color:#00ff88;

}



h1{

font-size:clamp(70px,15vw,200px);

font-weight:900;

background:

linear-gradient(
90deg,
var(--cyan),
var(--purple)
);

-webkit-background-clip:text;

color:transparent;

text-shadow:0 0 50px #00f7ff55;

}



h2{

letter-spacing:10px;

}




.hero-content p{

max-width:600px;

margin:30px auto;

opacity:.7;

}




.button{

display:inline-block;

padding:15px 40px;

border:1px solid var(--cyan);

color:white;

text-decoration:none;

margin-top:20px;

transition:.3s;

}



.button:hover{

background:var(--cyan);

color:black;

box-shadow:0 0 30px var(--cyan);

}







section{

padding:120px 10%;

min-height:60vh;

}



h3{

color:var(--cyan);

margin-bottom:50px;

letter-spacing:5px;

}





.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}



.card{

height:350px;

padding:40px;

background:#ffffff08;

border:1px solid #ffffff20;

backdrop-filter:blur(10px);

transition:.5s;

}



.card:hover{

transform:
translateY(-20px)
rotateX(5deg);

border-color:var(--cyan);

box-shadow:
0 0 50px #00f7ff33;

}




.card span{

color:var(--cyan);

font-size:12px;

}





.skill{

margin:40px 0;

}


.bar{

height:8px;

background:#ffffff20;

margin-top:15px;

}



.bar span{

display:block;

height:100%;

background:
linear-gradient(
90deg,
var(--cyan),
var(--purple)
);

}




@media(max-width:700px){

.links{

display:none;

}

h1{

font-size:70px;

}

}